/* Larger Views ******************************/
@media (min-width: 640px) {
    /* Hide menu button on larger screens */
    #menu {
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}
/* Show menu button on screens smaller than 768px */
@media screen and (max-width: 640px) {
    #menu {
        display: block;
    }

    /* Hide regular navigation links on small screens */
    .navigation ul {
        display: none;
    }

    /* Show navigation links when menu is open */
    .navigation.open ul {
        display: block;
    }
}