body {
    font-family: 'Sansita', sans-serif;
}

header, main, footer {
    margin: 1rem auto;
    max-width: 640px;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: lightskyblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: whitesmoke;
}